# ignore pycache
*/__pycache__/*
*/*/__pycache__/*

# ignore log files
*.log

# ignore secret files
secret.yaml
config.yaml

# compiled
__pycache__/

# Distribution / packaging
build/
develop-eggs/
dist/
lib/
*.egg-info/
*.egg
